.banner {
    height: 90vh;
}

.banner__contents__type {
    margin-top: -110px;
    font-size: 20px;
    position: absolute;
}

.banner__contents__slider {
    margin-top: -130px;
    position: absolute;
    z-index: 0;

}


.banner__contents__logo {
    margin-top: -40px;
}

.slider-image {
    margin-top: -20px;
    width: 117px;
}

.container > h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.rows {
    margin-top: 150px;
    margin-bottom: 80px;
}

.pop-up__content__description > img {
    margin-top: 5px;
}

.release {
    margin-top: 5px;
}

.average {
    color: #2fbf6d;
    font-weight: bold;
}

.player-wrapper {
    position: absolute;
    z-index: 2;
}

.shadow  {
    background: linear-gradient(to top, rgb(15, 15, 15) 20%,rgba(0,0,0,0) 100%);
    height: 300px;
    /* overflow: hidden; */
    position: absolute;
    top: 350px;
    width: 100%; 
    /* z-index:5;  */
}